main {
    position: relative;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    transition: 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    right: 0;
}

.btn {
    grid-column: 2/3;
    width: 10%;
    height: 7vh;
    max-height: 7vh;
    padding: 20px 0;
    border: 6px #8B1A1A solid;
    border-radius: 4px;
    background: transparent;
    font-weight: 600;
    font-size: 22px;
    color: #E9E9E9;
    cursor: pointer;
    outline: none;
    transition: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
        background: rgba(139, 26, 26, 0.4);
        transition: 0.5s;
    }
}

#img-section {
    grid-column: 2/3;
    position: absolute;
    right: -3%;
    bottom: -10%;
    height: 1000%;
    z-index: -1;

    #dude {
        position: absolute;
        right: 22%;
        bottom: -12%;
        transform: scale(0.8);
        z-index: 1;
        filter: brightness(0.4);
    }

    #water {
        transform: rotate(15deg) scale(0.8) translateY(-10%);
        filter: brightness(0.3);
    }
}

.fa-backward {
    color: #E9E9E9;
    font-size: 1.6em;
    margin-right: 1.7rem;
}