nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    height: 12vh;

    #logo {
        font-size: 48px;
        font-weight: 700;
        font-style: italic;
        background: -webkit-linear-gradient(#fff, #A5A5A5);
        -webkit-text-fill-color: transparent;
        grid-column: 2/3;
        align-self: center;
        justify-self: flex-start;
        cursor: pointer;
        position: relative;
        right: 0;
        transition: 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        opacity: 0;
    }

     #hamburger {
        z-index: 1;
        cursor: pointer;
        position: fixed;
        right: 10%;
        top: 4%;
        transition: 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        opacity: 0;
    }
}